@charset "UTF-8";
/* elements */
html { width: 100%; height: 100%; }
body { width: 100%; height: 100%; overflow-x: hidden; font-family: sans-serif; background: #f5f5f5; line-height: 1; position:relative; letter-spacing: -.02em; }
body, body * { -webkit-text-size-adjust: none; }
body, form { margin: 0; padding: 0; }
ol,ul {list-style: none;}
img { border: 0; }

input[type="text"], input[type="password"], input[type="number"], input[type="email"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; box-shadow: none; border-radius: 0; font-size: 14px; }
input[type="text"].disabled, input[type="password"].disabled, input[type="number"].disabled, input[type="email"].disabled { background: #f5f5f5; border-color: #d5d5d5; }
textarea::-webkit-input-placeholoder { color: #888; border-color: #d5d5d5; }
textarea::-webkit-scrollbar { width: 3px; border-radius: 1.5px; }
textarea::-webkit-scrollbar-thumb { background: #ccc; }
textarea::-webkit-scrollbar-thumb:window-inacrive { background: #ccc; }
i { font-style: normal; }
select, select option { font-size: 14px; }

*{
  -webkit-overflow-scrolling:touch;

}
a {
  display: block;
  text-decoration: none;
  color: #000;
}

input, select, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-shadow: none !important;
  background: transparent;
}
input:disabled, textarea:disabled, input:disabled::placeholder, textarea:disabled::placeholder {
  -webkit-text-fill-color: currentcolor;
  opacity: 1;
}

.contents_area img{
  width: 100%;
  height: 100%;
}

.hidden_txt {
  overflow: hidden;
  text-indent: -99999px;
  position: absolute;
  left: -9999px;
  top: -999999px;
}

ol:after, ul:after {
  content: '';
  clear: both;
  display:block;
}


.titleSet h2 {
  padding-top:20px;
  font-size: 19px;
  line-height: 1;
  
}

.pagenation{
  padding: 20px 0 0 0;
  text-align:center;
  font-size: 0;
}
.pagenation span{
  display:inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #ccc;
  margin-left: 10px;
  text-indent: -9999px;

}
.pagenation span:first-child{
  margin-left: 0;
}
.pagenation span.on{
  background: #000;
}

.price_area{

}

.price_area span{
  display: block;
  max-width: 110px;
  height: 18px;
  margin: 0 auto;
  overflow:hidden;
  font-size: 12px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.price_area .brand{
  font-weight: bold;
}
.price_area .prod{

}
.price_area .price{
  color: #999;
  font-weight: normal;

}
.price_area .price.red{
  color: #e60f0d;
  font-size: 12px;
}
.price_area .price.red17{
  color: #e60f0d;
  font-size: 17px;
}


.price_area .price em{
  font-size: 10px;
  color: #666;
  font-weight: normal;
}
.price_area .price strong{
  font-size: 10px;
  font-weight: bold;
}

.price_area .flag{
  display:inline-block;
  margin-bottom: 5px;
}

.price_area .flag .gift{
  display:inline-block;
  padding: 0 4px;
  font-size: 9px;
  line-height: 16px;
  color: #f4763c;
  border: 1px solid #f4763c;
}